.table tbody tr td img{
    width: 80px!important;
    height: 80px!important;
    object-fit: contain;
}

td,th{
    color: var(--primary-color);
}

.checkout__btn{
    margin-top: 17px!important;
}

.subtotal{
    margin-left: 20px;
}

.heading{
    font-weight: 600;
    color: var(--primary-color);
}

@media only screen and (max-width:479px){
 .tuble th{
    padding: 0!important;
    font-size: .9rem !important;
 }   
 .teble td{
    font-size: .8rem !important;
 }
 .teble td .btn{
    font-size: .8rem!important;
    padding: 4px !important;
    padding-top: 1px !important;
 }
}