.common__section{
    background:linear-gradient(rgba(0,0,0,.52),rgba(0,0,0,.52)),url('https://images.pexels.com/photos/1571453/pexels-photo-1571453.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center;
    background-size:cover;  
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common__section h1{
    font-weight: 600;
    color: #fff;
}