.product__item{
    cursor: pointer;
}
.product__info h3 a{
font-size: 1.2rem;
font-weight: 600;
color: var(--primary-color);
margin-top: 15px;
}

.product__info span{
    font-size: .9rem;
}

.product__info a:hover{
    color: inherit;
}

.product__card-bottom .price{
font-size: 1.1rem;
font-weight: 500;
color: var(--primary-color);
}

@media only screen and (max-width:768px){
    .product__info h3 a{
        font-size: 1rem;
    }
    .product__card-bottom span{
        font-size: 1rem;
    }
    .price{
        font-size: 1rem !important;
    }
}